@using twotableversion.Data
@model List<Uygulamalar>

@{
    ViewData["Title"] = "Display Data";}


<h1 style="color: #FCB000;">@*Selected Uygulama:*@ @ViewBag.SelectedUygulamaAdi , @ViewBag.SelectedTakvimId </h1>


<input type="text" id="searchInput" placeholder="Arama">
<button onclick="searchInTable()" style="background-color: #FFCA4F; color: white;">Ara</button>

<button onclick="clearSearchResults()" style="background-color: #FFCA4F; color: white;">Arama Sonuçlarını Temizle</button>


@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<a href="/Home/Save" style="color:#e68a06;  margin-top:100px; margin-left:50px;">Yeni Satır Ekle</a>
<table class="table" style="border-block-color:#FCB000">
    <thead>
        <tr>
            <th>Version</th>
            <th >Etki Alanı</th>
            <th>Talep/Bug</th>
            <th>Talep Adı</th>
            <th>Bulgu Durumu</th>
            <th>Segment</th>
            <th>KKTYE Gönderildi mi?</th>
            <th>KKTE Onayı Alındı mı?</th>
            <th>Notlar</th>
            <th>İlgili Analist</th>
            <th>Merge Durumu IOS</th>
            <th>Merge Durumu AND</th>
            <th>Merge Durumu BE</th>
            <th>İlgili IOS Developer</th>
            <th>İlgili Android Developer</th>
            <th>İlgili BE Developer</th>
            <th>BE Taşıma Katmanları</th>
            <th>Geçiş Zorunluluğu </th>
            <th>UI/API Senaryo ID</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Version</td>
                <td>@item.EtkiAlanı</td>
                <td>@item.TalepBug</td>
                <td>@item.TalepAdı</td>
                <td>@item.BulguDurumu</td>
                <td>@item.Segment</td>
                <td>@item.KktyeGönderİldİMİ</td>
                <td>@item.KktOnayiAlindiMi</td>            
                <td>@item.Notlar</td>
                <td>@item.İlgiliAnalist</td>
                <td>@item.MergeDurumuIos</td>
                <td>@item.MergeDurumuAnd</td>
                <td>@item.MergeDurumuBe</td>
                <td>@item.İlgiliIosDeveloper</td>
                <td>@item.İlgiliAndroidDeveloper</td>
                <td>@item.İlgiliBeDeveloper</td>
                <td>@item.BeTaşımaKatmanları</td>
                <td>@item.GeçİşZorunluluğu</td>
                <td>@item.UiApiSenaryoId</td>
                <td>
                    <a href="/Home/Edit/@item.satırID" style="color:#e68a06">Düzenle</a>&nbsp;|&nbsp;
                    <a href="#" style="color:#e68a06" onclick="showModal(); document.getElementById('confirmDelete').href='/Home/Delete/@item.satırID'">Sil</a>
                </td>
            </tr>
        }



        <script>
            function refreshPage() {
                location.reload();
            }
            const refreshInterval = 7000; // 10 seconds

            let inactivityTimer;

            document.addEventListener("mousemove", resetTimer);
            document.addEventListener("keydown", resetTimer);

            function resetTimer() {
                clearTimeout(inactivityTimer);
                inactivityTimer = setTimeout(refreshPage, refreshInterval);
            }

            resetTimer();
        </script>
    </tbody>
</table>

<script>
    function searchInTable() {
        var searchText = document.getElementById("searchInput").value.toLowerCase();
        var rows = document.getElementsByTagName("tr");

        for (var i = 1; i < rows.length; i++) { // Start from 1 to skip the table header row
            var row = rows[i];
            var cells = row.getElementsByTagName("td");
            var found = false;

            for (var j = 0; j < cells.length; j++) {
                var cell = cells[j];
                if (cell.innerHTML.toLowerCase().includes(searchText)) {
                    found = true;
                    break;
                }
            }

            if (found) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        }
    }
    
</script>

<form method="post" asp-action="ExportToExcel">
    <input type="hidden" name="selectedTakvimId" value="@ViewBag.SelectedTakvimId" />
    <input type="hidden" name="selectedUygulamaAdi" value="@ViewBag.SelectedUygulamaAdi" />
    <button type="submit" class="btn btn-primary" style="background-color: #FFCA4F; color: white;">İndir</button>
</form>

<div id="deleteModal" class="modal">
    <div class="modal-content center">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 style="color:red">Silme işemine devam etmek istiyor musunuz?</h2>
      
        <div class="button-container" >
            <a href="#" class="delete-button" style=" color:#e68a06" id="confirmDelete">Evet</a>
            <a href="#" class="cancel-button" style="color:#e68a06" onclick="closeModal()">Hayır</a>
        </div>
    </div>
</div>

<script>
  
    function showModal() {
        var modal = document.getElementById("deleteModal");
        modal.style.display = "block";
    }

    function closeModal() {
        var modal = document.getElementById("deleteModal");
        modal.style.display = "none";
    }
</script>
<style>
    .modal {
        display: none; 
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; 
        background-color: rgba(0, 0, 0, 0.4); 
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; 
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .center {
        text-align: center;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".mark-favorite").click(function () {
            var itemId = $(this).data("id");
            var isFavorite = $("#favorite_" + itemId).is(":checked");
            $.post("/Home/MarkFavorite", { id: itemId, isFavorite: isFavorite }, function (data) {
                if (data.success) {
                    
                } else {
                    
                }
            });
        });
    });
</script>


<script>
    
    function clearSearchResults() {
        document.getElementById("searchInput").value = "";

        var rows = document.getElementsByTagName("tr");
        for (var i = 1; i < rows.length; i++) {
            rows[i].style.display = "";
        }
    }
</script>



