@model twotableversion.Models.UygulamalarModel
@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    <table width="40%">
        @*<tr>
    <td style=" width:20%">Takvim ID:</td>
    <td style="width:80%">
    @Html.TextBoxFor(m=>m.TakvimId,new{@class="form-control"})
    </td>
    </tr>*@

        <tr>
            <td style=" width:20%">Version:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.version,new{@class="form-control"})
            </td>
        </tr>
        <tr>
            <td style=" width:20%">Etki Alanı:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.EtkiAlanı,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">Talep/Bug:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.TalepBug,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">Talep Adı:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.TalepAdi,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">Bulgu Durumu:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.BulguDurumu,new{@class="form-control"})
            </td>
        </tr>


        <tr>
            <td style=" width:20%">Segment:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.Segment,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style="width:20%">KKTYE Gönderildi mi?:</td>
            <td style="width:80%">
                <select name="KKTYeGonderilme" style="width: 100%;" id="kktyeGonderildiSelect">
                    <option value="evet" style="background-color:green;">Evet</option>
                    <option value="hayır" style="background-color:red;">Hayır</option>
                </select>
            </td>
        </tr>

        <tr>
            <td style="width:20%">KKT Onayı Alındı mı:</td>
            <td style="width:80%">
                <select name="KKTOnayi" style="width: 100%;" id="kktOnayiSelect">
                    <option value="evet" style="background-color:green;">Evet</option>
                    <option value="hayır" style="background-color:red;">Hayır</option>
                </select>
            </td>
        </tr>


      @*  <tr>
            <td style="width:20%">KKTYE Gönderildi mi?:</td>
            <td style="width:80%; background-color: @(Model.KKTYeGonderilme.Equals("Yes", StringComparison.OrdinalIgnoreCase) ? "green" : "red")">
                <select name="KKTYeGonderilme" style="width: 100%;">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </td>
        </tr>

        <tr>
            <td style="width:20%">KKT Onayı Alındı mı:</td>
            <td style="width:80%; background-color: @(Model.KKTOnayi.Equals("Yes", StringComparison.OrdinalIgnoreCase) ? "green" : "red")">
                <select name="KKTOnayi" style="width: 100%;">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </td>
        </tr>*@


        <tr>
            <td style=" width:20%">Notlar:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.Notlar,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">İlgili Analist:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.Analist,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">Merge Durumu IOS:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.mergeIOS,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">Merge Durumu Android:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.mergeAND,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">Merge Durumu BE:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.mergeBE,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">İlgili IOS Developer:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.IOSDev,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">İlgili Android Developer:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.ANDDev,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">İlgili Be Developer:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.BEDev,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%"> BE Taşıma Katmanları:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.TasimaKatmanlari,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">Geçiş Zorunluluğu:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.GecisZorunluluğu,new{@class="form-control"})
            </td>
        </tr>

    @*    senaryo key olduğu için gösterilmesin editlenmiyor çünkü*@

        <tr>
            <td style=" width:20%">UI/API Senaryo ID:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.SenaryoID,new{@class="form-control"})
            </td>
        </tr>

    </table>


    @*<input type="submit" value="Save"/>*@
  @*  <input type="submit" value="Edit" />*@
    <button type="submit" class="btn btn-primary" style="background-color: #FFCA4F; color: white; margin-top:0px margin-left:0px">Edit</button>
}

@*<script>
    // Initialize an empty list of favorite tables
    const favoriteTables = [];

    // Function to add a favorite table
    function addFavoriteTable() {
        const favoriteName = prompt("Enter a name for the favorite table:");
        if (favoriteName) {
            const newFavoriteTable = { name: favoriteName, rows: [] };
            favoriteTables.push(newFavoriteTable);

            // Update the list of favorite tables
            updateFavoriteTablesList();

            // Select the newly created favorite table
            selectFavoriteTable(newFavoriteTable);
        }
    }

    // Function to update the list of favorite tables in the UI
    function updateFavoriteTablesList() {
        const favoriteTablesList = document.getElementById("favorite-tables-list");
        favoriteTablesList.innerHTML = "";

        favoriteTables.forEach((table, index) => {
            const listItem = document.createElement("li");
            listItem.textContent = table.name;
            listItem.addEventListener("click", () => selectFavoriteTable(table));
            favoriteTablesList.appendChild(listItem);
        });
    }

    // Function to select and display a favorite table's content
    function selectFavoriteTable(table) {
        const selectedFavoriteTable = document.getElementById("selected-favorite-table");
        selectedFavoriteTable.innerHTML = "";

        const tableHeader = document.createElement("h3");
        tableHeader.textContent = `Favorite Table: ${table.name}`;
        selectedFavoriteTable.appendChild(tableHeader);

        const tableContent = document.createElement("ul");
        table.rows.forEach((row) => {
            const rowItem = document.createElement("li");
            rowItem.textContent = row;
            tableContent.appendChild(rowItem);
        });
        selectedFavoriteTable.appendChild(tableContent);
    }
</script>*@
<script>
    // JavaScript function to update the background color of the select boxes
    function updateSelectBackgroundColor(selectId) {
        const select = document.getElementById(selectId);
        const selectedOption = select.options[select.selectedIndex];
        const backgroundColor = window.getComputedStyle(selectedOption).backgroundColor;
        select.style.backgroundColor = backgroundColor;
    }

    // Listen to the change event for each select element
    document.getElementById("kktyeGonderildiSelect").addEventListener("change", function () {
        updateSelectBackgroundColor("kktyeGonderildiSelect");
    });

    document.getElementById("kktOnayiSelect").addEventListener("change", function () {
        updateSelectBackgroundColor("kktOnayiSelect");
    });

    // Initially set the background color based on the selected options
    updateSelectBackgroundColor("kktyeGonderildiSelect");
    updateSelectBackgroundColor("kktOnayiSelect");
</script>