@model twotableversion.Models.UygulamalarModel
@{
    ViewData["Title"] = "Privacy Policy";
}



<br />




@using (Html.BeginForm("SaveTakvim", "Home", FormMethod.Get))
{
    <input type="submit" style="background-color: #FFCA4F; color: white; margin-top:0px margin-left:0px" value="Yeni satır ekle"  class="btn btn-primary" />
}

@if (TempData["SaveStatus"] != null)
{
    int status = Convert.ToInt32(TempData["SaveStatus"]);
    if (status == 1)
    {
        <span class="alert alert-success">Kaydedildi</span>
    }
    else
    {
        <span class="alert alert-danger">Kaydetme Sırasında HATA! oluştu</span>
    }
}

@if (TempData["DeleteStatus"] != null)
{
    int status = Convert.ToInt32(TempData["DeleteStatus"]);
    if (status == 1)
    {
        <span class="alert alert-success">Silindi</span>
    }
    else
    {
        <span class="alert alert-danger">Silme Sırasında HATA! oluştu</span>
    }
}


<div class="row" style=" background: #FFF5D5; margin-top:17px; margin-left:207px; width:400px; height:200px;">
    @using (Html.BeginForm("DisplayData", "Home", FormMethod.Post))
    {
        <div class="col-md-12">

            <p style="margin-bottom:0px">Görüntülemek için</p>
                              
            <div class="form-group" style="width:100%; height:100%;">
                <label for="selectedTakvimId">Ay/Yıl Kodu Seçiniz :</label>                
                @Html.DropDownList("selectedTakvimId", (SelectList)ViewBag.TakvimIdOptions, "Select", new { @class = "form-control" })
            </div>

            <div class="form-group style="width:100%; height:100%;">
                <label for="selectedUygulamaAdi">Uygulama Adı Seçiniz:</label>
                @Html.DropDownList("selectedUygulamaAdi", (SelectList)ViewBag.UygulamaAdiOptions, "Select", new { @class = "form-control" })
            </div>

           

        </div>
    
     

        <div class="col-md-6">
            <button type="submit" class="btn btn-primary " style="color: white; background-color: #FFCA4F; margin-top:13px; margin-right:100px;">Submit</button>
        </div>
    }

</div>




@*@if (Model.UygulamaList != null && Model.UygulamaList.Count > 0)
{
    <h3>Filtered Results:</h3>
    <table class="table table-sm">
        <thead>
            <tr>
                  <th>Uygulama Adı</th>

                <th>Takvim Id</th>
                <th>Etki Alanı</th>
                <th>Talep/Bug</th>
                <th>Talep Adı</th>
                <th>Bulgu Durumu</th>
                <th>Segment</th>
                <th>KKTYE Gönderildi mi?</th>
                <th>KKTE Onayı Alındı mı?</th>
                <th>Notlar</th>
                <th>İlgili Analist</th>
                <th>Merge Durumu IOS</th>
                <th>Merge Durumu AND</th>
                <th>Merge Durumu BE</th>
                <th>İlgili IOS Developer</th>
                <th>İlgili Android Developer</th>
                <th>İlgili BE Developer</th>
                <th>BE Taşıma Katmanları</th>
                <th>Geçiş Zorunluluğu </th>
                <th>UI/API Senaryo ID</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UygulamaList)
            {
                <tr>

                    <td>@item.UygulamaAdı</td>

                    <td>@item.TakvimId</td>

                    <td>@item.EtkiAlanı</td>
                    <td>@item.TalepBug</td>
                    <td>@item.TalepAdı</td>
                    <td>@item.BulguDurumu</td>
                    <td>@item.Segment</td>
                    <td>@item.KktyeGönderİldİMİ</td>
                    <td>@item.KktOnayiAlindiMi</td>
                    <td>@item.Notlar</td>
                    <td>@item.İlgiliAnalist</td>
                    <td>@item.MergeDurumuIos</td>
                    <td>@item.MergeDurumuAnd</td>
                    <td>@item.MergeDurumuBe</td>
                    <td>@item.İlgiliIosDeveloper</td>
                    <td>@item.İlgiliAndroidDeveloper</td>
                    <td>@item.İlgiliBeDeveloper</td>
                    <td>@item.BeTaşımaKatmanları</td>
                    <td>@item.GeçİşZorunluluğu</td>
                    <td>@item.UiApiSenaryoId</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No matching results found.</p>
}
*@



