@*@model twotableversion.Models.UygulamalarModel


@using (Html.BeginForm("Save", "Home", FormMethod.Post))


{



    <table width="40%">
        <tr>
            <td style="width: 20%">Uygulama Adı:</td>
            <td style="width: 80%">
                @Html.TextBoxFor(m => m.UygulamaAdı, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td style="width: 20%">Takvim ID:</td>
            <td style="width: 80%">
                @Html.TextBoxFor(m => m.TakvimId, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td style=" width:20%">Etki Alanı:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.EtkiAlanı,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">Talep/Bug:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.TalepBug,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">Talep Adı:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.TalepAdi,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">Bulgu Durumu:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.BulguDurumu,new{@class="form-control"})
            </td>
        </tr>


        <tr>
            <td style=" width:20%">Segment:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.Segment,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">KKTYE Gönderildi mi?:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.KKTYeGonderilme,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">KKT Onayı Alındı mı:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.KKTOnayi,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">Notlar:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.Notlar,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">İlgili Analist:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.Analist,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">Merge Durumu IOS:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.mergeIOS,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">Merge Durumu Android:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.mergeAND,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">Merge Durumu BE:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.mergeBE,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">İlgili IOS Developer:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.IOSDev,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">İlgili Android Developer:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.ANDDev,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">İlgili Be Developer:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.BEDev,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%"> BE Taşıma Katmanları:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.TasimaKatmanlari,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">Geçiş Zorunluluğu:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.GecisZorunluluğu,new{@class="form-control"})
            </td>
        </tr>

        <tr>
            <td style=" width:20%">UI/API Senaryo ID:</td>
            <td style="width:80%">
                @Html.TextBoxFor(m=>m.SenaryoID,new{@class="form-control"})
            </td>
        </tr>
    </table>

    <input type="submit" value="Save" />
 
}
*@


@model twotableversion.Models.UygulamalarModel

@{
    ViewData["Title"] = "Save Data";
}

<h2>Save Data</h2>

@if (TempData["SaveStatus"] != null)
{
    int status = Convert.ToInt32(TempData["SaveStatus"]);
    if (status == 1)
    {
        <span class="alert alert-success">Data saved successfully!</span>
    }
}

@using (Html.BeginForm("Save", "Home", FormMethod.Post))
{

    <div class="form-group">
        <label for="UygulamaAdı">Uygulama Adı:</label>
        @Html.TextBoxFor(m => m.UygulamaAdı, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="TakvimId">Takvim Id:</label>
        @Html.TextBoxFor(m => m.TakvimId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="EtliAlanı">Etki Alanı:</label>
        @Html.TextBoxFor(m => m.EtkiAlanı, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="TalepBug">TAlep/Bug:</label>
        @Html.TextBoxFor(m => m.TalepBug, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="TalepAdi">Talep Adı:</label>
        @Html.TextBoxFor(m => m.TalepAdi, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="BulguDurumu">Bulgu Durumu:</label>
        @Html.TextBoxFor(m => m.BulguDurumu, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Segment">Segment:</label>
        @Html.TextBoxFor(m => m.Segment, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="KKTYeGonderilme">KKTYE Gönderildi mi?:</label>
        @Html.TextBoxFor(m => m.KKTYeGonderilme, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="KKTOnayi">KKTE Onayı Alındı mı?:</label>
        @Html.TextBoxFor(m => m.KKTOnayi, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Notlar">Notlar:</label>
        @Html.TextBoxFor(m => m.Notlar, new { @class = "form-control" })
    </div>
      <div class="form-group">
        <label for="Analist">İlgili Analist:</label>
        @Html.TextBoxFor(m => m.Analist, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="mergeIOS">Merge Durumu IOS:</label>
        @Html.TextBoxFor(m => m.mergeIOS, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="mergeAND">Merge Durumu AND:</label>
        @Html.TextBoxFor(m => m.mergeAND, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="mergeBE">Merge Durumu BE:</label>
        @Html.TextBoxFor(m => m.mergeBE, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="IOSDev">İlgili IOS Developer:</label>
        @Html.TextBoxFor(m => m.IOSDev, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="ANDDev">İlgili Android Developer:</label>
        @Html.TextBoxFor(m => m.ANDDev, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="BEDev">İlgili BE Developer:</label>
        @Html.TextBoxFor(m => m.BEDev, new { @class = "form-control" })
    </div>
     <div class="form-group">
        <label for="TasimaKatmanlari">BE Taşıma Katmanları:</label>
        @Html.TextBoxFor(m => m.TasimaKatmanlari, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="GecisZorunluluğu">Geçiş Zorunluluğu:</label>
        @Html.TextBoxFor(m => m.GecisZorunluluğu, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="SenaryoID">UI/API Senaryo ID:</label>
        @Html.TextBoxFor(m => m.SenaryoID, new { @class = "form-control" })
    </div>
  
   
    <button type="submit" class="btn btn-primary">Save</button>
}
