@model twotableversion.Models.UygulamalarModel
@using twotableversion.Data
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>






<h1 style="color: #FCB000;"> @(TempData["SelectedUygulamaAdi"]), @(TempData["SelectedTakvimId"])</h1>


<input type="hidden" asp-for="RowVersion" />


@if (TempData["SaveStatus"] != null)
{
    int status = Convert.ToInt32(TempData["SaveStatus"]);
    if (status == 1)
    {
        <span class="alert alert-success">Data saved successfully!</span>
    }
}

@using (Html.BeginForm("Save", "Home", FormMethod.Post))
{
    <div class="form-group">
        <label for="version">Version:</label>
        @Html.TextBoxFor(m => m.version, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="UygulamaAdı">Uygulama Adı:</label>
        @Html.TextBoxFor(m => m.UygulamaAdı, new { @class = "form-control", id = "uygulamaAdiInput" })
    </div>


    <div class="form-group">
        <label for="TakvimId">Takvim Id:</label>
        @Html.TextBoxFor(m => m.TakvimId, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="EtliAlanı">Etki Alanı:</label>
        @Html.TextBoxFor(m => m.EtkiAlanı, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="TalepBug">Talep/Bug:</label>
        @Html.TextBoxFor(m => m.TalepBug, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="TalepAdi">Talep Adı:</label>
        @Html.TextBoxFor(m => m.TalepAdi, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="BulguDurumu">Bulgu Durumu:</label>
        @Html.TextBoxFor(m => m.BulguDurumu, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Segment">Segment:</label>
        @Html.TextBoxFor(m => m.Segment, new { @class = "form-control" })
    </div>

 
    <div class="form-group">
        <label for="KKTYeGonderilme">KKTYE Gönderildi mi?:</label>
        <input type="text" id="KKTYeGonderilmeInput" name="KKTYeGonderilme" class="form-control" onblur="validateAndConvertToUpperCase(this)">
    </div>
    <div class="form-group">
        <label for="KKTOnayi">KKTE Onayı Alındı mı?:</label>
        <input type="text" id="KKTOnayiInput" name="KKTOnayi" class="form-control" onblur="validateAndConvertToUpperCase(this)">
    </div>

    <div class="form-group">
        <label for="Notlar">Notlar:</label>
        @Html.TextBoxFor(m => m.Notlar, new { @class = "form-control" })
    </div>
      <div class="form-group">
        <label for="Analist">İlgili Analist:</label>
        @Html.TextBoxFor(m => m.Analist, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="mergeIOS">Merge Durumu IOS:</label>
        @Html.TextBoxFor(m => m.mergeIOS, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="mergeAND">Merge Durumu AND:</label>
        @Html.TextBoxFor(m => m.mergeAND, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="mergeBE">Merge Durumu BE:</label>
        @Html.TextBoxFor(m => m.mergeBE, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="IOSDev">İlgili IOS Developer:</label>
        @Html.TextBoxFor(m => m.IOSDev, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="ANDDev">İlgili Android Developer:</label>
        @Html.TextBoxFor(m => m.ANDDev, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="BEDev">İlgili BE Developer:</label>
        @Html.TextBoxFor(m => m.BEDev, new { @class = "form-control" })
    </div>
     <div class="form-group">
        <label for="TasimaKatmanlari">BE Taşıma Katmanları:</label>
        @Html.TextBoxFor(m => m.TasimaKatmanlari, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="GecisZorunluluğu">Geçiş Zorunluluğu:</label>
        @Html.TextBoxFor(m => m.GecisZorunluluğu, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="SenaryoID">UI/API Senaryo ID:</label>
        @Html.TextBoxFor(m => m.SenaryoID, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SenaryoID, "", new { @class = "text-danger" })
    </div>

    
   
     <button type="submit" class="btn btn-primary" style="background-color: #FFCA4F; color: white; margin-top:0px ;margin-left:0px" >Kaydet</button>



}

<script>
    function validateAndConvertToUpperCase(inputElement) {
  
        let inputValue = inputElement.value.trim().toUpperCase();

        
        if (inputValue === "EVET" || inputValue === "HAYIR") {
            inputElement.value = inputValue; 
        } else {
            inputElement.value = ""; 
            alert("Lütfen 'EVET' veya 'HAYIR' yazınız.");
        }
    }


</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var uygulamaAdiInput = document.getElementById('uygulamaAdiInput');

        uygulamaAdiInput.addEventListener('blur', function () {
            var inputValue = uygulamaAdiInput.value;

            // Split the input value into words
            var words = inputValue.split(' ');

            // Capitalize the first letter of each word
            for (var i = 0; i < words.length; i++) {
                if (words[i].length > 0) {
                    // Check for the special case "EDH" and capitalize it
                    if (i === 0 && words[i].toUpperCase() === 'EDH') {
                        words[i] = 'EDH';
                    } else {
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].slice(1);
                    }
                }
            }

            // Join the words back together and set as the input's value
            uygulamaAdiInput.value = words.join(' ');
        });
    });
</script>


